<div id="signup">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3 class="logo">
					<a href="">SMS</a>
				</h3>
				<h4>Change Password</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<form role="form" (ngSubmit)="changePassword()">
							  		<div class="form-group">
							    		<label for="email">Enter New Password</label>
							    		<input type="password" [(ngModel)]="Model.password" pattern=".{8,}" name="email" class="form-control" id="email" />
							  		</div>
									<div class="form-group">
										<input style="border:none; background-color:#ffffff; margin-bottom:2px;color:red;width:100%" name="errorMessage" readonly [(ngModel)]="Model.message" name="message" >
							  		</div>
							  		<div class="submit">
										  <button class="btn btn-primary">Change Password</button><span>   </span><a routerLink="/forgetPassword">ForgetPassword</a>
							  		</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
