<div id="signup" style="background: #536f8e">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3 class="logo">
					<a href="register">SMS</a>
				</h3>
				<h4>Set up your new account today.</h4>
				<p>
					30-day money-back guarantee that starts after your first payment.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<form role="form" (ngSubmit)="register()" #formCtrl="ngForm">
									<div class="form-group">
							    		<label for="name">Your Name</label>
							    		<input type="text" name="name" required [(ngModel)]="Model.name" placeholder="Your Name"  class="form-control"/>
							  		</div>
							  		<div class="form-group">
							    		<label for="email">Email Address</label>
							    		<input type="email" name="email" required [(ngModel)]="Model.email"  placeholder="Email address"  class="form-control"/>
							  		</div>
							  		<div class="form-group">
							    		<label for="password">Password</label>
							    		<input type="password" name="password" pattern=".{8,}" title="minimum 8 characters required" required [(ngModel)]="Model.password" class="form-control" />
							  		</div>
									<div class="form-group">
							    		<label for="password">Confirm Password</label>
							    		<input type="password" name="confirmpassword" pattern=".{8,}" title="same password required" required [(ngModel)]="Model.confirmPassword"  class="form-control"/>
							  		</div>
									<div class="form-group">
										<input style="border:none; background-color:#ffffff; margin-bottom:2px;color:red;width: 100%" name="errorMessage"  readonly [(ngModel)]="Model.message" name="message" >
							  		</div>
									<div class="form-group">
										<img [hidden]="!loader" style="height: 60px; width: 60px; margin-left:200px;" src="assets/loader.gif">
									</div>
							  		<div class="submit">
							  			<button type="submit" class="btn btn-primary">Create my Account</button>
							  		</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Already have an account?
					<a routerLink="../login" data-toggle="popover" data-placement="top" data-content="Go to sign in!" data-trigger="manual">Sign in here</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function () {
			$(".already-account a").popover();
			$(".already-account a").popover('show');
		});
	</script>
</div>